In [1]:
import matplotlib.pyplot as plt
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib
from scipy.stats import kstest

In [2]:
data = pd.read_csv('simulated_data_ks_test.csv')
data

,iteration,j_delta_1,j_delta_2,j_delta_3,j_delta_4,j_delta_5,j_delta_6,j_delta_7,j_delta_8,j_delta_9,...,f_delta_90,f_delta_91,f_delta_92,f_delta_93,f_delta_94,f_delta_95,f_delta_96,f_delta_97,f_delta_98,f_delta_99
0,0,1.037350,1.066577,1.087996,1.119709,1.150735,1.173389,1.212776,1.240398,1.269139,...,1.258523,1.245763,1.246582,1.247175,1.255319,1.249645,1.245416,1.237873,1.238722,1.242367
1,1,1.035156,1.073096,1.108541,1.142280,1.172756,1.204380,1.245002,1.276266,1.301370,...,2.715909,2.707627,2.740057,2.752125,2.748242,2.769986,2.729917,2.732316,2.754902,2.724758
2,2,1.051577,1.090355,1.118307,1.162694,1.200835,1.235480,1.268085,1.308311,1.351601,...,1.351629,1.354093,1.356920,1.373435,1.368327,1.371505,1.381544,1.384171,1.403146,1.397758
3,3,1.048948,1.087014,1.113796,1.156013,1.196380,1.225733,1.270220,1.312825,1.359368,...,1.500861,1.492894,1.514664,1.544289,1.548802,1.566647,1.577804,1.575615,1.584994,1.607438
4,4,1.054622,1.102784,1.127876,1.172564,1.204026,1.241570,1.279933,1.330677,1.387767,...,1.989460,2.013289,2.043040,2.055744,2.073469,2.100685,2.121463,2.134214,2.172511,2.170510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1.045414,1.084134,1.103795,1.133579,1.163038,1.183256,1.209761,1.252487,1.298801,...,1.105731,1.094469,1.084713,1.081107,1.082769,1.087103,1.087500,1.072684,1.075192,1.067394
996,996,1.046582,1.069862,1.102630,1.144201,1.170770,1.204341,1.242343,1.284548,1.329852,...,1.275679,1.276505,1.300268,1.312298,1.309639,1.319482,1.325594,1.313505,1.327957,1.334954
997,997,1.041085,1.073090,1.089027,1.116570,1.149580,1.172750,1.192766,1.222840,1.251399,...,2.068597,2.105061,2.121212,2.150587,2.159136,2.162427,2.163506,2.149837,2.124111,2.123226
998,998,1.041156,1.069819,1.093570,1.122658,1.158202,1.181242,1.206407,1.235511,1.265524,...,1.789306,1.790064,1.817814,1.843137,1.848733,1.865289,1.859606,1.867769,1.885928,1.888053
999,999,1.045778,1.084789,1.107914,1.141671,1.173368,1.195903,1.221870,1.258905,1.304675,...,2.273834,2.289340,2.312180,2.339856,2.346708,2.311675,2.324517,2.351434,2.374227,2.391529

In [3]:
j_data = data[['j_delta_' + str(i) for i in range(10, 100, 10)]].copy()
j_data.columns = [str(i) for i in range(10, 100,10)]
j_data = j_data.melt(value_vars = [str(i) for i in range(10, 100, 10)])
j_data.columns = ['n', 'value']
j_data["type"] = ["Isoform Junctions"] * 9000
j_data

       n     value               type
0     10  1.279412  Isoform Junctions
1     10  1.330480  Isoform Junctions
2     10  1.390257  Isoform Junctions
3     10  1.374940  Isoform Junctions
4     10  1.420778  Isoform Junctions
...   ..       ...                ...
8995  90  4.103956  Isoform Junctions
8996  90  3.826279  Isoform Junctions
8997  90  3.544691  Isoform Junctions
8998  90  3.637959  Isoform Junctions
8999  90  3.777487  Isoform Junctions

[9000 rows x 3 columns]

In [4]:
f_data = data[['f_delta_' + str(i) for i in range(10, 100, 10)]].copy()
f_data.columns = [str(i) for i in range(10, 100,10)]

f_data = f_data.melt(value_vars = [str(i) for i in range(10, 100, 10)])
f_data.columns = ['n', 'value']
f_data["type"] = ["Random Positions"] * 9000
f_data

       n     value              type
0     10  1.045433  Random Positions
1     10  1.163673  Random Positions
2     10  1.014511  Random Positions
3     10  0.952522  Random Positions
4     10  1.057381  Random Positions
...   ..       ...               ...
8995  90  1.105731  Random Positions
8996  90  1.275679  Random Positions
8997  90  2.068597  Random Positions
8998  90  1.789306  Random Positions
8999  90  2.273834  Random Positions

[9000 rows x 3 columns]

In [5]:
data = pd.concat([f_data, j_data])
data

       n     value               type
0     10  1.045433   Random Positions
1     10  1.163673   Random Positions
2     10  1.014511   Random Positions
3     10  0.952522   Random Positions
4     10  1.057381   Random Positions
...   ..       ...                ...
8995  90  4.103956  Isoform Junctions
8996  90  3.826279  Isoform Junctions
8997  90  3.544691  Isoform Junctions
8998  90  3.637959  Isoform Junctions
8999  90  3.777487  Isoform Junctions

[18000 rows x 3 columns]

In [19]:
save = False
if save:
    matplotlib.use("pgf")
    matplotlib.rcParams.update({
        "pgf.texsystem": "pdflatex",
        'font.family': 'serif',
        'text.usetex': True,
        'pgf.rcfonts': False,
    })

In [7]:
fig, ax = plt.subplots()

g = sns.boxplot(x='n', y='value', hue='type', data=data)
ax.set_title(r"Distribution of $\delta_n$ for generated data")
ax.set_ylabel(r"$\delta_n$")

handles, labels = ax.get_legend_handles_labels()
ax.legend(handles=handles, labels=labels)

if save:
    plt.savefig("fake_data_delta_n.pgf")

In [12]:
data = pd.read_csv('simulated_data_ks_test.csv')

In [16]:
data['j_delta_1']
data['f_delta_1']

0      0.998647
1      1.014995
2      0.999588
3      0.990493
4      0.995169
         ...
995    1.005753
996    0.991023
997    1.024824
998    1.001025
999    1.005621
Name: f_delta_1, Length: 1000, dtype: float64

In [23]:
x = np.log2(data['j_delta_1'].to_numpy())
y = np.log2(data['f_delta_1'].to_numpy())

kstest(x, y)

KstestResult(statistic=0.988, pvalue=0.0)